* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 201, 153);
}

#nav_bar {
    height: 80px;
    width: 100%;
    background-color: rgb(110, 63, 4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#logo img {
    height:80px;
    width: 80px;
    margin-left: 5px;
    border-radius: 50px;
    padding: 10px;
}


#nav a,
#login_register a {
    color: rgb(255, 230, 200);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}


#nav a:hover,
#login_register a:hover {
    color: burlywood;
}


#nav {
    display: flex;
    align-items: center;
}

#login_register {
    display: flex;
    align-items: center;
}

.container{
    background-color: rgb(233, 195, 159);
    width:100%;
    height: 500px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
 #register_form{
    background-color:rgb(233, 195, 159);
    height: auto;
    width: 350px;
    padding:20px;
    border: 2px solid rgb(17, 8, 8);
 }
 label{
    display: inline-block;
    width: 100px;
 }
 #register_btn{
     padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(94, 67, 31);
    color: aliceblue;
 }
 #form{
    border: 2px solid rgb(17, 8, 8); 
    padding: 10px;
 }
#login_btn{
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(94, 67, 31);
    color: aliceblue;
}

.product_container{
    width:80%;
    height:90%;
    border:2px solid rgb(94, 67, 31);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.product{
    height: 400px;
    width: 250px;
    padding: 20px;
    display: inline-block;
    background-color: rgb(194, 144, 126);
    border-radius:10px;
    margin-top: 20px;
    margin-left: 10px;
}

.product img{
    height:50%;
    width:80%;
    margin-top: 10px;
    border-radius:10px;
}
button{
     padding: 5px;
     background-color:  rgb(94, 67, 31);
     border-radius: 3px;
     margin-top: 10px;
}

.content_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6f4e37; 
    font-size: 2.5em; 
    text-shadow: 1px 1px 2px #d2b48c; 
    margin-top: 20px;
    font-family: cursive;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product_price{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 1000;
}

